
@import url('https://fonts.googleapis.com/css?family=Rubik:300,regular,500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	font-family: 'Rubik';
}
body._lock{
   overflow: hidden;
}
a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* ---------------------------------------- */
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/* ------------------------------------------- */
.page {
	flex: 1 1 auto;
	width: 100%;
}

[class*="__container"] {
	max-width: 1123px;
	margin: 0 auto;
	padding: 0px 15px;
}

.header {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
@media (min-width: 687px){
   .header{
      position: absolute;
   }
}

.header__container {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	min-height: 110px;
}
@media (max-width: 687px){
	.header__container{
		min-height: 70px;
		background-color: #fff;
	}
}

.menu__list {
	display: flex;
	gap: 50px;
	position: relative;
	z-index: 5;
}
.menu__link{
	font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 118%;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #FFFFFF;
}
.menu__link:hover{
	text-decoration: underline;
}
.menu__link-tel{
	position: relative;
	margin-left: 10px;
}
.menu__link-tel::before{
	content: '';
	background: url(../image/Kyivstar2018.svg) left top no-repeat;
	position: absolute;
	margin-top: -5px;
	margin-left: -30px;
	width: 40px;
	height: 40px;
}
@media (max-width: 687px){
	.menu__link-tel::before{
		margin-top: 8px;
		margin-left: -35px;
	}
}
/* .photo-image{
	position: relative;
}
.photo-image > img{
	position: absolute;
	top: 0;
} */
.page__welcome{
	margin-bottom: 150px;
}
@media (max-width: 785px){
	.page__welcome{
		margin-bottom: 670px;
	}
}
.welcome__title {
	font-family: 'Rubik';
	position: relative;
	margin-left: 200px;
	margin-top: -900px;
	font-weight: 400;
	font-size: 100px;
	line-height: 100%;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	max-width: 700px;
}

.welcome__container {
	margin-bottom: 500px;
	position: absolute;
	z-index: 5;
}
.mini-image{
	display: none;
}
@media (max-width: 1280px){
	.photo-image > img{
		width: 100%;
	}
	.welcome__title {
		margin-left: 150px;
		margin-top: -700px;
		font-weight: 400;
		font-size: 85px;
		line-height: 100%;
		display: flex;
		align-items: center;
		color: #FFFFFF;
		max-width: 700px;
	}
	/* .welcome__title {
		position: relative;
		z-index: 33;
		font-family: 'Rubik';
		margin: 0;
		margin-top: 300px;
		font-weight: 400;
		font-size: 50px;
		line-height: 100%;
		align-items: center;
		color: #000;
	} */
}
@media (max-width: 1217px){
	.welcome__title {
		position: relative;
		margin-top: -650px;
		font-weight: 400;
		font-size: 75px;
		line-height: 100%;
		align-items: center;
		color: #FFFFFF;
		max-width: 600px;
	}
}
@media (max-width: 1166px){
	.welcome__title {
		margin-top: -600px;
		font-weight: 400;
		font-size: 75px;
		line-height: 100%;
		align-items: center;
		color: #FFFFFF;
		max-width: 600px;
	}
}
@media (max-width: 1041px){
	.welcome__title {
		margin-top: -550px;
		font-weight: 400;
		font-size: 60px;
		line-height: 100%;
		align-items: center;
		color: #FFFFFF;
		max-width: 450px;
	}
}
@media (max-width: 995px){
	.menu__link{
		color: #000;
	}
	.welcome__title {
		margin-left: 125px;
		margin-top: -500px;
		font-weight: 400;
		font-size: 56px;
		line-height: 100%;
		max-width: 450px;
	}
}
@media (max-width: 925px){
	.welcome__title {
		margin-left: 125px;
		margin-top: -450px;
		font-weight: 400;
		font-size: 50px;
		line-height: 100%;
		max-width: 400px;
	}
}
@media (max-width: 841px){
	.welcome__title {
		position: relative;
		margin-left: 125px;
		margin-top: -400px;
		font-weight: 400;
		font-size: 40px;
		line-height: 100%;
		max-width: 300px;
	}
}
.delete{
	display: none;
}
@media (max-width: 785px){
	.photo-image > img{
		display: none;
	}
	.delete{
		display:block;
	}
		.welcome__title {
		position: relative;
		z-index: 33;
		font-family: 'Rubik';
		margin: 0;	
		margin-top: 125px;
		font-weight: 400;
		font-size: 50px;
		line-height: 100%;
		color: #000;
		min-width: 450px;
		margin-bottom: 50px;
	}
}
@media (max-width: 687px){
   .menu__icon{
      z-index: 5;
      display: block;
      position: relative;
      width: 32.5px;
      height: 25px;
      cursor: pointer;
   }
	.header__logo-image{
		width: 90px;
	}
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background: #000;
   }
   .menu__icon::before,
   .menu__icon::after{
      content: "";
   }
   .menu__icon::before{
      top: 0;
   }
   .menu__icon::after{
      bottom: 0;
   }
   .menu__icon span{
         top: 50%;
         transform: scale(1) translate(0px, -50%);
   }
   .menu__icon._active span{
      transform: scale(0) translate(0px, -50%);
   }
   .menu__icon._active::before{
      top: 45%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon._active::after{
      bottom: 51%;
      transform: rotate(45deg) translate(0px, 50%);
   }
   .header__menu{
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 40px 0 0 10px;
      transition: left 0.3s ease 0s;
      overflow: auto;
   }
   .header__menu._active{
      left: 0;
   }
   .menu__link{
      font-size: 40px;
   }
}
@media (max-width: 687px){
	.button{
		display: none;
	}
	.header__body{
      background-color: #fff;
		max-height: 69px;
    }
	.button._menu-button{
		display: block;
	}
	.header__menu{
		padding: 100px 0 0 10px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}
	.menu__list{
		flex-direction: column;
	}
	.menu__item{
		padding: 10px 0;
		text-align: center;
	}
	.menu__item > a{
		font-size: 35px;
	}
	.menu__item:last-child{
		margin-bottom: 10px;
	}
	.button{
		min-width: 180px;
		max-height: 70px;	
	}
	.button a{
		font-size: 25px;
	}
}

.page__aboutinfo {
	margin-bottom: 161px;
}
.aboutinfo {
}
.aboutinfo__container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 15px;
}
@media (max-width: 785px){
	.aboutinfo__container {
		display: flex;
		justify-content: space-between;
		justify-content: center;
	}
}
@media (max-width: 659px){
	.aboutinfo__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

._container {
}
.aboutinfo__title {
	font-family: 'Rubik';
font-weight: 700;
font-size: 24px;
line-height: 167%;
letter-spacing: 0.1em;
color: #EE4D47;
margin-bottom: 30px;
}
.aboutinfo__text {
	font-family: 'Rubik';
	font-weight: 300;
font-size: 18px;
line-height: 140%;
color: #402B2B;
max-width: 450px;
}

.aboutinfo__image > img {
	width: 400px;
}
@media (max-width: 392px){
	.aboutinfo__image > img {
		width: 340px;
	}
	.aboutinfo__text{
		font-size: 24px;
	}
}

.page__goods {
	margin-bottom: 125px;
}
.goods {
}
.goods__container {
}
._container {
}
.goods__title {
	font-family: 'Rubik';
	font-weight: 700;
	font-size: 24px;
	line-height: 167%;
	letter-spacing: 0.1em;
	color: #EE4D47;
	margin-bottom: 30px;
}
.goods__shop {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
	text-align: center;
}
.goods__tree {
}
.goods__text {
	margin-top: 10px;
	font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #000;
}
.goods__ground {
}
@media (max-width: 525px){
	.goods__shop {
		gap: 30px;
	}
	.goods__tree > img{
		width: 130px;
	}
	.goods__ground > img{
		width: 130px;
	}
}

.page__comunity {
}
.comunity {
}
.comunity__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}
._container {
}
.comunity__description {
}
.comunity__title {
	font-family: 'Rubik';
	font-weight: 700;
	font-size: 24px;
	line-height: 167%;
	letter-spacing: 0.1em;
	color: #EE4D47;
	margin-bottom: 30px;
}
.comunity__text {
	font-family: 'Rubik';
	font-weight: 300;
font-size: 18px;
line-height: 140%;
color: #402B2B;
max-width: 350px;
}
.comunity__text > span{
	color: #EE4D47;
	font-weight: 500;
}
.comunity__link {
	font-weight: 500;
	color: #EE4D47;
}
.comunity__link:hover {
	text-decoration: underline;
}
.comunity__image {
}
@media (max-width: 767px){
	.comunity__image > img {
		width: 340px;
	}
	.comunity__title{
		margin-bottom: 25px;
	}
	.comunity__container{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
	}
}
.footer{
	display: none;
}
@media (min-width: 506px){
	.footer{
		position: relative;
		z-index: 55;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 40px;
	}
	.footer__copy{
		margin-bottom: 15px;
	}
}